
body{
    background-color: aliceblue;
}
header{
    height: 85vh;
    margin-bottom: 18px;
}
 table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
td{
    text-align: center;
}
.one{
    position: absolute;
    right: 381px;
    top: 91px;
    opacity: 0.4;
}
.two{
    position: absolute;
    right: 381px;
    top: 91px;
    opacity: 0.6;
}
.three{
    position: absolute;
    right: 381px;
    top: 91px;
    opacity: 0.2;
}
.four{
    position: absolute;
    right: 381px;
    top: 91px;
    opacity: 0.7;
}

.top{
    background: #fff;
    padding: 30px 0px 10px;
    box-shadow: 0px 1px 4px;
}
.logo{
    margin-bottom: 20px;
}
.top button{
    padding: 7px 120px;
    background: #3b5998;
    border: none;
    border-radius: 3px;
    color: #fff;
}
.top form input{
    margin-bottom: 10px;
    padding: 5px 15px;
}
.top a{
    text-decoration: none;
    
}
.top a img{
    margin-right: 10px;
}
.group .button{
    position: absolute;
    right: 22px;
    text-align: center;
}
.bottom{
    margin-top: 10px;
    background: #fff;
    padding: 10px 60px;
    box-shadow: 0px 1px 4px;
}
.bottom a{
    text-decoration: none;
}


footer{
    text-align: center;
    margin-bottom: 20px;
}
footer span{
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: grey;
}
.rights{
    margin-top: 15px;
}
